@font-face{
    font-family: ico;
    src: url('font/gpico.woff')
}
img{-webkit-user-drag: none}
html{margin: 0px;height: 100%;width: 100%}
body{margin: 0px;height: 100%;width: 100%}
div{height:100%;margin:0px;;-webkit-user-select: none;}
#top_menu{height: 40px;background: rgb(86, 152, 206);position: relative;;-webkit-app-region: drag;}  
#bot_content{height:540px;position:absolute;top:40px;bottom: 0px}
#left_menu{width: 150px; float: left;background: rgb(243, 246, 255);border-right:solid 1px rgb(204, 204, 204);}
#right_content{float:right;margin-left: 151px;width:649px;height: 100%;position: absolute}
#closebt{height: 20px;width: 20px;margin: auto;float:right;top:0px;bottom: 0px;position:absolute;right:10px;-webkit-app-region: no-drag}
#sign{height: 30px;width: 120px;margin: auto;float:left;top:0px;bottom: 0px;position:absolute;left:10px}
.idx{height: 40px; width: 135px;line-height: 40px;font-size: 12px;font-family: Arial;padding-left: 10px;color: rgba(0, 0, 0,0.7);margin-left: 5px}
#homeidx{margin-top:20px}
#sttsbar{height: 20px;width: 100%;bottom: 0px;position:absolute;background:rgb(126, 181, 226);font-family: Arial;font-size: 9px;color:white;line-height: 22px;padding-left: 10px;box-sizing: border-box}
.page{position:absolute;width:100%;height: 100%;display: none;background:rgb(255, 255, 255);box-sizing: border-box;font-size: 12px;font-family: Arial;}
#homepg{display: inline;opacity: 0;}
#homediv{position: absolute;height:60%;width: 100%;bottom: 0px;left:0px}
#mainstatus{position: absolute; top:30%;transform: translate(-50%,-50%);left:50%;height:240px;width: 240px;}
#mstxtnum{font-family: Arial;font-size: 35px;}
.num{position :absolute;top:45%;left:50%;transform: translate(-50%,-50%);color:rgb(113, 150, 219)}
#mstxttit{font-family: Arial;font-size: 15px}
.tit{position :absolute;top:60%;left:50%;transform: translate(-50%,-50%);color:rgb(113, 150, 219)}
#secstatusl{position: absolute; top:70%;transform: translate(-50%,-50%);left:20%;height:200px;width: 200px;}
#slstxtnum{font-family: Arial;font-size: 30px;}
#slstxttit{font-family: Arial;font-size: 13px}
#secstatusr{position: absolute; top:70%;transform: translate(-50%,-50%);left:80%;height:200px;width: 200px;}
#srstxtnum{font-family: Arial;font-size: 30px;}
#srstxttit{font-family: Arial;font-size: 13px}
#configcontent{height:85%;width:100%;overflow: hidden;}
#save{height:15%;width:100%;position: relative;border-top: solid 1px rgb(204, 204, 204);}
.cfg{height: 40%;width:100%;top:0px;color:rgb(113, 150, 219);box-sizing:border-box;margin-top: 30px}
#config1{position: relative;top:0px;}
#config2{position: relative;top:0px;}
.anime{animation-fill-mode: forwards}
.cfgname{top:50%;left:100px;position: absolute;transform: translate(0,-50%);font-size: 15px}
.set{position:absolute;border:solid 1px rgb(113, 150, 219);border-radius: 10px;height:70px;width: 90px;top:55%;left:70%;transform: translate(-50%,-50%)}
.ico{font-family: ico;}
.idxico{display: inline;font-size: 20px;position: absolute;transform: translateY(-20px)}
.idxtxt{position: absolute;transform: translate(30px,-12px)}
.arrow{font-size: 12px; position: absolute;transform: translate(8px,-50px)}
.adjbtn{position:absolute;margin-top: 50px}
.up{top:-0px}
.down{bottom: -0px}
.unit{position: absolute;font-size: 30px;line-height: 35%}
#cfg1unit{right:-55px;}
#cfg2unit{right:-35px;}
.valuect{position :absolute;height: 100%;width: 70%;right:0px;font-size: 30px;}
.value{position:absolute;line-height: 30%;right:20%;}
#svbt{border:solid 1px rgb(113, 150, 219);border-radius: 5px;position:absolute;height: 30px;width:80px;text-align: center;line-height: 200%;font-size: 15px;color:rgb(113, 150, 219);top:50%;left:21%;transform: translate(-50%,-50%);}
.chartcontainer{width:90%;height:70%;top:20%;left:5%;position: relative;}
.chart{width:100%;height:100%}
@keyframes rot{
    from {transform: rotate(-180deg)}
    to {transform: rotate(0deg)}
}